---
layout: "layouts/default.njk"
title: First testing
---

{%- from "system/component.njk" import component -%}

<h1>Testing Eleventy</h1>
<p>Promise, just testing</p>

{% set text = 'Btn Text' %}
<p>Here is a btn: {% include "components/btn/btn.njk" %}
</p>

{%- from "components/batoon/macro.njk" import batoon -%}
<p>Down here you may find a batoon: 
    {{ batoon({
        class: 'primary',
        text: 'Batoon FTW!'
    }) }}
</p>

<p>And finally, there should be a proper button: 
    {{ component('button', {
        class: 'secondary',
        text: 'Hello button!'
    }) }}
</p>

{% import "components/bettin/bettin.njk" as bettin %}
<p>Bet you didn't see this coming: 
    {{ bettin.render({
    label: "Hello from Eleventy",
    primary: true,
    size: "large"
}) }}
</p>